/* Colors */
.green {
  background-color: #408900 !important;
}

.green:before {
  background-color: #408900 !important;
}

.blue {
  background-color: #0f88d4 !important;
}

.blue:before {
  background-color: #0f88d4 !important;
}

.orange {
  background-color: #ff9600 !important;
}

.orange:before {
  background-color: #ff9600 !important;
}

.red {
  background-color: #9e2712 !important;
}

.red:before {
  background-color: #9e2712 !important;
}

.orange {
  background-color: #ff9600 !important;
}

.orange:before {
  background-color: #ff9600 !important;
}

/* Tooltip */
.bossy-tooltip + * {
  margin-top: 50px;
}

.bossy-tooltip span.link {
  position: relative;
  color: #59a715;
  cursor: pointer;
}

.bossy-tooltip span.link:hover .bossy-tooltip-active {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.bossy-tooltip .bossy-tooltip-active {
  position: absolute;
  background-color: #333;
  width: 300px;
  bottom: 130%;
  left: 50%;
  margin-left: calc(-300px/2);
  padding: 10px;
  display: inline-block;
  text-align: center;
  font-size: 80%;
  font-weight: bold;
  color: #fff;
  cursor: default;
  opacity: 0;
  transform: scale(0) translateY(-20px);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.bossy-tooltip .bossy-tooltip-active.active {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.bossy-tooltip .bossy-tooltip-active.bossy-tooltip-left {
  left: 5%;
  margin: 0;
}

.bossy-tooltip .bossy-tooltip-active.bossy-tooltip-left:before {
  left: 10%;
}

.bossy-tooltip .bossy-tooltip-active.bossy-tooltip-right {
  right: 5%;
  left: auto;
  margin: 0;
}

.bossy-tooltip .bossy-tooltip-active.bossy-tooltip-right:before {
  right: 10%;
  left: auto;
}

.bossy-tooltip .bossy-tooltip-active.wide {
  width: 420px;
}

.bossy-tooltip .bossy-tooltip-active.extra-padding {
  padding: 20px;
}

.bossy-tooltip .bossy-tooltip-active.content-html img {
  max-width: 20%;
  float: left;
  display: inline-block;
}

.bossy-tooltip .bossy-tooltip-active.content-html span {
  width: 76%;
  float: right;
  text-align: left;
}

.bossy-tooltip .bossy-tooltip-active.content-html h3 {
  margin: 0 0 5px;
  font-size: 16x;
  color: #fff;
}

.bossy-tooltip .bossy-tooltip-active.alert .icon {
  width: 10%;
  float: left;
  margin: 10px 0 0 10px;
  text-align: center;
}

.bossy-tooltip .bossy-tooltip-active.alert span {
  width: 85%;
  padding-left: 10px;
  float: right;
  text-align: left;
}

.bossy-tooltip .bossy-tooltip-active.download {
  padding: 10px;
}

.bossy-tooltip .bossy-tooltip-active.download .progress-bar {
  position: absolute;
  background-color: #294c0a;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  z-index: -1;
}

.bossy-tooltip .bossy-tooltip-active.download .icon {
  position: absolute;
  background-color: #294c0a;
  height: 100%;
  min-height: 100%;
  width: 50px;
  top: 0;
  right: 0;
  float: right;
  font-size: 25px;
}

.bossy-tooltip .bossy-tooltip-active.download .icon:before {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -12.5px;
  text-align: center;
}

.bossy-tooltip .bossy-tooltip-active.download span {
  width: 90%;
  display: block;
  float: left;
  color: #fff;
  text-align: left;
}

.bossy-tooltip .bossy-tooltip-active.download span span {
  display: block;
  font-size: 70%;
  font-weight: lighter;
}

.bossy-tooltip .bossy-tooltip-active:before {
  position: absolute;
  background-color: #333;
  height: 15px;
  width: 15px;
  top: calc(100% - 10px);
  bottom: calc(45px/2);
  left: 50%;
  margin-left: -15px;
  display: block;
  content: "";
  transform: rotate(45deg);
}

